@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .authImage {
    background-image: url("./assets/img/pexels-merlin-14314638.jpg");
    @apply bg-cover bg-center
  }
  .messageList {
    background-image: url("./assets/img/whats.png");
    

  }
  .contactList {
    height: calc(100vh - 145px);
  }

  .contactList::-webkit-scrollbar {
    @apply w-2               /* width of the entire scrollbar */
  }
  
  .contactList::-webkit-scrollbar-track {
    @apply bg-tertiary         /* color of the tracking area */
  }
  
  .contactList::-webkit-scrollbar-thumb {
    border: 1px solid;  /* creates padding around scroll thumb */
    @apply bg-quinternary border-tertiary
  }
}
